.overviewSection{
  background: #091218;
  border-radius: 60px;
  transform: translateY(-80px);
  padding-top: 120px;
  overflow: hidden;
  .rightPanel{
    color: white;
    padding: 80px;
    h3{
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 20px;
    }
  }

  .leftPanel{
    h2{
      font-size: 52px;
      background: linear-gradient(90deg, #1F239F 0%, #80819B 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    ul{
      margin-top: 40px;
      padding-left: 0px;
      li{
        color: #ffffff;
        font-size: 24px;
        list-style: none;
        width: fit-content;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 60px;
        box-sizing: border-box;
        border: 1px solid transparent;
        display: flex;
        img{
          display: none;
          transition: 0.5s ease all;
          width: 22px;
          margin-left: 10px;
        }
        &:hover{
          border: 1px solid #16264A;
          cursor: pointer;
          img{
            display: block;
          }
        }
      }
    }
  }

}

.overviewSection {
  animation: fade-in linear;
  animation-timeline: view(500px 300px);
}

.rightPanel{
  ul{
    padding-left: 0px;
    list-style: none;
    li{
      padding-bottom: 10px;
      font-weight: 200;
    }
  }
}

.blur{
  background: url("/images/fade.svg");
  width: 940px;
  height: 1000px;
  position: absolute;
  background-size: contain;
  right: -40px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}