.insightList{
background-color: #000;
  padding: 120px;
  // border-radius: 40px;
  .insightTitle{
    width: 65%;
    margin-bottom: 40px;
    h2{
      font-size: 72px;
      background: linear-gradient(90deg, #FFFFFF 0%, #83849A 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  .industryBlock{
    img{
      width: 24px;
      margin-right: 10px;
    }
    ul{
      padding-left: 0px;
      li{
        display: inline-block;
        border-radius: 40px;
        padding: 10px 20px;
        color: #FFFFFF;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFFFFF;
        cursor: pointer;
      }
    }
    ul :hover{
      background-color: #007BFF;
      color: #fcf9f9;
    }
    .selectedCategory {
      background-color: #007BFF; 
      color: white; 
  }
  }
  
  .InsightContent{
    a{
      text-decoration: none;
      color: #FFFFFF;
    }
  }
  .InsightImg{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    img{
      height: 310px;
      width: 100%;
      object-fit: cover;
      filter: grayscale(100);
    }
  }
  .insightBlock{
    color: #FFFFFF;
    margin-bottom: 40px;
    .insightCard{
      margin-bottom: 80px;
    }
  }
  
}