.hireSection{
  padding: 80px;
  padding-top: 80px;
  border-radius: 80px;
   text-align: center;
  .button{
    a{

      padding: 12px 28px;
      border-radius: 38px;
      transition: 0.5s ease all;
      display: inline-flex;
      img{
        margin-left: 4px;
      }
      &:hover{
        background: none;

        img{
          transform: translateX(5px);

        }
      }
    }
  }
  h2{
    font-size: 48px;
    padding-left:20%;
    padding-right:20%;
    background: linear-gradient(90deg, #1F239F 0%, #80819B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}