.topTechnology{
  h2{
    font-size: 44px;
    background: linear-gradient(90deg, #1F239F 0%, #80819B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
  }
  .card{
    border-radius: 20px;
    background: rgba(29, 30, 59, 0.6);
    backdrop-filter: blur(112px);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
  }
}