
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$font-family-base: "Sora", sans-serif;
$primary : #3A4856;

$btn-padding-y: 20px;
$btn-padding-x: 15px;

.btn-outline-light{

}