.navigation{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  margin-top: 20px;
  a{
    padding-left: 60px;
    padding-right: 60px;
  }
  .button{
    //button{
    //  border: 1px solid #16264A;
    //  padding: 12px 28px;
    //  border-radius: 38px;
    //  transform: translateX(-20px);
    //  transition: 0.5s ease all;
    //  &:hover{
    //    background: none;
    //    color: #FFFFFF;
    //    img{
    //      transform: translateX(5px);
    //    }
    //  }
    //}
  }
  .logo{
    img{
      width: 130px;
    }
  }
}

.themeButton {
  button{
  img{
    &:hover{
      animation: icon-rotate 1s infinite linear;
      cursor: pointer;
    }
  }
}

}

@keyframes icon-rotate {
  from{rotate: 0deg}
  to{rotate: 90deg}
}

.headerClass{
  header{

  }
}

.dropdown{
  background: #FFFFFF;
  width: 100%;
  border-radius: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000000;
.navContent{
  padding-right: 80px;
  p{
    font-size: 28px;
  }
  h3{
    font-size: 16px;
  }
}
  ul{
    column-count: 2;
    padding-left: 0px;

    li{
      list-style: none;
      padding-bottom: 10px;
      a{
        text-decoration: none;
      }
    }
  }
}