.insightContent{
  color: #FFFFFF;
  h3{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 20px;
  }
  .share{
    margin-top: 40px;
    ul{
      padding-left: 0px;
      display: inline-block;
      li{
        display: inline-block;
        padding-right: 40px;
      }
    }
  }
}