

.testimonialBlock{
  border-radius: 40px;
  padding: 120px;
  margin-bottom: 40px;
  .leftContent{
    h2{
      font-size: 80px;
    }
  }
}

.rightContent{
  font-weight: 200;
  .quote{
    margin-bottom: 20px;
  }
  p{
    padding-bottom: 40px;
  }
}

