

:root {
  --body-bg-color: #fff;
  --text-color: #000;
  --blue-bg: #F2F2F2;
  --link-color: #fff;
  --dark-blue: #f2f2f2;
  --backdrop-color: blur(13px);
  --menu-bg: rgb(255 255 255 / 90%);
  --hidden: none;
  --card-bg: #eee;
}


[data-theme="dark"]{
  --body-bg-color: #091218;
  --text-color: #fff;
  --blue-bg: #09112F;
  --dark-blue: #091218;
  --link-color: #000;
  --backdrop-color: blur(13px);
  --menu-bg: rgba(30, 48, 59, 0.4);
  --hidden: block;
  --card-bg: rgb(255 255 255 / 7%);
}

.btn-primary{
  background-color: transparent;
  border-color: 1px solid var(--blue-bg);
}

.dark-hidden{
  display: var(--hidden);
}

.bg-color-blue{
  background: var(--dark-blue);
  color: var(--text-color);
  a{
    color: var(--text-color);
  }
  .nav-link{
    color: var(--text-color) ;
  }
  .active{
    color: var(--text-color) !important;
  }
}

.card-bg{
  background: var(--card-bg);
}





.menu-color{
  backdrop-filter: var(--backdrop-color);
  background: var(--menu-bg);
  border-radius: 40px;
  a{
    color: var(--text-color);
  }
  .btn{
    color: var(--text-color);
  }
}


body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.blue-bg{
  background: var(--blue-bg);
  color: var(--text-color);
}

.hireSection{
  background: var(--dark-blue);
}


$nav-link-color: var(--link-color);
