@import "../node_modules/bootstrap/scss/bootstrap";
@import "fonts";
@import "colors";
@import "variables/variables";


body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

.headingFont{
  font-family: 'PP Pangaia';
}

.headingFontOne{
  font-family: 'PP Pangaia';
}

.slick-slider {
  // Your slider styles here
}

.slick-slide {
  // Your slide styles here
}

.slide-text {
  opacity: 0; /* Initially hide text */
  animation: fadeIn 1s ease forwards; /* Fade in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from fully transparent */
  }
  to {
    opacity: 1; /* End at fully opaque */
  }
}


.casestudySection{
  .slick-slide{
    scale: (.9);
    transition: transform 0.3s ease;
  }
  .slick-active{
    scale: (1);
    filter: blur(0px) !important;
  }
  .slick-slide {
    transition: all 0.3s ease-in-out;
    filter: blur(5px);
  }
}


.blurFadeUp{
  animation: blur linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 400px;

}
@keyframes blur {
  from{ filter: blur(100px); transform: translateY(-300px)}
  to{ filter: blur(0px); transform: translateY(0px)}
}

.fadeZoom{
  animation: fadeZoom linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 400px;
}

@keyframes fadeZoom {
  from{ opacity: 0; scale: 0.6}
  to{  opacity: 1; scale: 1}
}

